* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  background: #111827;
  color: #ffffff;
}

.container {
  display: flex;
  height: 100vh;
}

.container__sidebar {
  width: calc(20% - 20px);
  padding: 20px;
}

.container__content {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start; /* override gap between rows */
  justify-content: space-between;
  padding: 5%;
}

.container__content > .box {
  flex: 1 0 auto;
}

.box {
  width: 2em;
  min-height: 2em;
  margin: 1px;
  border: 1px solid lawngreen;
  cursor: pointer;
  padding: 0.5em;
  text-align: center;
  line-height: 2em;
  user-select: "none";
  transition: "border-color 0.5s";
}

.sketch-picker {
  width: auto !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4285F4 #F5F5F5;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  background-color: #4285F4;
  border-radius: 20px;
  border: 3px solid #F5F5F5;
}